<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>pubsub</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>Cep</display-name>
		<servlet-name>cep</servlet-name>
		<servlet-class>portal.CepServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Pub Sub Insight</display-name>
		<servlet-name>pubsubInsight</servlet-name>
		<servlet-class>portal.NetworkGraphServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>CepDefinition</display-name>
		<servlet-name>cepdef</servlet-name>
		<servlet-class>portal.CepRuleDefinitionServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Event</display-name>
		<servlet-name>event</servlet-name>
		<servlet-class>portal.EventServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>MachineInfo</display-name>
		<servlet-name>machineInfo</servlet-name>
		<servlet-class>portal.MachineInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>NetworkStructure</display-name>
		<servlet-name>networkStructure</servlet-name>
		<servlet-class>portal.NetworkStructureServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Probe</display-name>
		<servlet-name>probe</servlet-name>
		<servlet-class>portal.ProbeServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>EventType</display-name>
		<servlet-name>eventType</servlet-name>
		<servlet-class>portal.EventTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProbeDef</display-name>
		<servlet-name>probeDef</servlet-name>
		<servlet-class>portal.ProbeDefServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>PortalSubscription</display-name>
		<servlet-name>subMan</servlet-name>
		<servlet-class>portal.PortalSubscriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cep</servlet-name>
		<url-pattern>/cep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cepdef</servlet-name>
		<url-pattern>/cepdef</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>event</servlet-name>
		<url-pattern>/event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>machineInfo</servlet-name>
		<url-pattern>/machineInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>networkStructure</servlet-name>
		<url-pattern>/network</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probe</servlet-name>
		<url-pattern>/probe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>subMan</servlet-name>
		<url-pattern>/subman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>eventType</servlet-name>
		<url-pattern>/eventtype</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probeDef</servlet-name>
		<url-pattern>/probedef</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pubsubInsight</servlet-name>
		<url-pattern>/pubsub</url-pattern>
	</servlet-mapping>
</web-app>